body
	{
	background-color: #f0e68c;
	font-family: serif;
	}
hr 
	{
	border-top-style: dotted;
    border-width: 0px;
    border-top-width: 7px;
    height: 0px;
    width: 30px;
    border-color: #006400;
	}
	
table
	{
	background-color: #AFEEEE;
	border-style: solid;
	
	}
#forms
	{
	background-color: #f0e68c;
	}	

p
	{
	color: dimgrey;
	}
li
	{
	line-height: 150%;
	}
h1
	{
	font-variant: small-caps;
	}